<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>{{ title }}</h2>
  <div class="header">
    <div class="container-fluid header__content">
        <div class="container">
            <div class="header__logo">
                <a href="https://www.wes.org/" target="_blank"><img class="img-responsive" src="../assets/WES-Logo.png"></a>
            </div>
        </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['/documentList', 'Pending']">Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['/documentList', 'Approve']">Approved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Rejected</a>
  </li>
  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li> -->
</ul>
<div id="myTabContent" class="tab-content">
    <div class='container'>
        <router-outlet></router-outlet>
      </div>
</div>
