<br />
<p *ngIf="isLoggedIn$ | async" style="float:right; margin-right: 10px;">
  Welcome, <a href="#" (click)="onLogOut($event)">Logout
  </a>
</p>

<div style="text-align:center">
  <div class="header">
    <div class="container-fluid header__content">
        <div class="container">
            <div class="header__logo">
                <a href="https://www.wes.org/" target="_blank"><img class="img-responsive" src="assets/WES-Logo.png"></a>
            </div>
        </div>
    </div>
  </div>
</div>

<router-outlet>

</router-outlet>
