<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Document Details:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-document-details [document]='document'></app-document-details>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c('Approve')">Approve</button>
    <button type="button" class="btn btn-danger" (click)="c('Reject')">Reject</button>
  </div>
</ng-template>
<a href="#" (click)="open(content, $event)"><fa-icon style="color:red;" [icon]="faFilePdf"></fa-icon>  Show Document</a>
