<br/>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
    data-toggle="tab"
    (click)="reloadGrid('Pending')"
    [routerLink]="['/documentlist', 'Pending']">
    Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    data-toggle="tab"
    (click)="reloadGrid('Approved')"
    [routerLink]="['/documentlist', 'Approved']">Approved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    data-toggle="tab"
    (click)="reloadGrid('Rejected')"
    [routerLink]="['/documentlist', 'Rejected']">Rejected</a>
  </li>
</ul>

<br/>
<br/>

<kendo-grid id="kendogrid"
  [data]="gridData"
  [loading]="loading"
  [pageSize]="state.take"
  [skip]="state.skip"
  [sort]="state.sort"
  [filter]="state.filter"
  [sortable]="true"
  [pageable]="true"
  [filterable]="true"
  [selectable]="true"
  (dataStateChange)="dataStateChange($event)">

  <kendo-grid-column media="(max-width: 500px)" title="Documents">
    <ng-template kendoGridCellTemplate let-dataItem>
        <dl>
            <dt>Name</dt>
            <dd>{{ dataItem.Name }}</dd>

            <dt>Catagory</dt>
            <dd>{{ dataItem.Type }}</dd>

            <dt>Status</dt>
            <dd>{{ dataItem.Status }}</dd>

            <dt>PDF</dt>
            <dd>
                <app-modal-basic [document]='dataItem'></app-modal-basic>
            </dd>
        </dl>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column media="(min-width: 680px)" field="Id" title="ID" width="50"  [filterable]="false">
  </kendo-grid-column>
  <kendo-grid-column media="(min-width: 500px)" field="ApplicantInfo.Name" title="Applicant Name">
  </kendo-grid-column>
  <kendo-grid-column media="(min-width: 500px)" field="Name" title="Document Name">
  </kendo-grid-column>

  <kendo-grid-column media="(min-width: 1000px)" field="Type" title="Category" width="180">
  </kendo-grid-column>
  <kendo-grid-column media="(min-width: 1000px)" title="Date"  width="150">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.vdrRequestDate | date }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column media="(min-width: 1000px)" field="Status" title="Status" width="250" [filterable]="false">
  </kendo-grid-column>

  <kendo-grid-column media="(min-width: 500px)" title="PDF">
    <ng-template kendoGridCellTemplate let-dataItem>
        <app-modal-basic [document]='dataItem'></app-modal-basic>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
